.menu-central{
    text-decoration: solid;
    background-color: yellow;
    color: black;
    padding: 15px;
    margin: 10px 25px;
    border: 1px dotted white;
   }

.container-logo{
display: flex;
align-items: center;
}

.logo-img{
    margin-left: 20px;
}

header{
    width: 100%x;
      background-color: orange;
     color: black;
     border: 2px dotted black;
      justify-content: space-around;
     
    }
    
   
